.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid gray;
  max-width: 20vw;
  cursor: pointer;

  img {
    object-fit: contain;
  }
}

.cardBox:hover {
  border-color: #ffffff;
}

.cardTextBox {
  align-items: start;
  padding: 1rem;
}
